<h1>Welcome to Randomized Trials</h1>

<%= link_to "Propose a trial", new_trial_path, class:"btn btn-primary", role:"button" %>
<br> <br>
<%= link_to "Browse trials", trials_path, class:"btn btn-info", role:"button" %>