<p>
	<h4><%= trial.title %></h4>
	<p><%= trial.description %></p>
	<small>Enrollment start at: <%= trial.enrollment_start %></small>
	<br>
	<small>Enrollment ends at: <%= trial.enrollment_end %></small>
</p>