<h1>Propose a trial:</h1>

<%= form_for(@trial) do |f| %>

	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	
	<p>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</p>
	
	<p>
		<%= f.label :enrollment_start %>
		<%= f.text_field :enrollment_start, class: "enrollment" %>
	</p>
	
	<p>
		<%= f.label :enrollment_end %>
		<%= f.text_field :enrollment_end, class: "enrollment" %>
	</p>
	
	<%= f.submit "Submit" %>

<% end %>