<%= form_for(@user) do |f| %>

	<%= render 'shared/error_messages', object: f.object %>

	<p>
		<%= f.label "Username*" %>
		<%= f.text_field :name %>
	</p>
	
	<p>
		<%= f.label "Email*" %>
		<%= f.text_field :email %>
	</p>
	
	<p>
		<%= f.label "Password*" %>
		<%= f.password_field :password %>
	</p>
	
	<p>
		<%= f.label "Password confirmation*" %>
		<%= f.password_field :password_confirmation %>
	</p>
	
	<p>
		<%= f.label "Phone*" %>
		<%= f.text_field :phone %>
	</p>
	
	<p>
		<%= f.label "Firstname" %>
		<%= f.text_field :first_name %>
	</p>
	
	<p>
		<%= f.label "Last_name" %>
		<%= f.text_field :last_name %>
	</p>
	
	<%= f.submit 'Submit' %>

<% end %>