<ul>
  <li><%= link_to 'Home', root_url %></li>
  <% if !logged_in? %>
    <li><%= link_to 'Login', login_url %></li>
    <li><%= link_to 'Signup', signup_url %></li>
  <% else %>
    <li><%= link_to 'Profile',  current_user %></li>
    <li><%= link_to 'Settings', edit_user_path(current_user) %></li>
  	<li><%= link_to 'Logout', 	logout_url, method: :delete %></li>
  <% end %>
</ul>

<style>
	ul li
	{
		display: inline;
		padding-right: 10px;
	}
	
	li:first-child
	{
		padding-right: 30px;
	}
</style>